## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [31]:
import pandas as pd
import numpy as np

In [32]:
data = {'Country': ['Taiwan', 'China', 'Korea', 'Japan'] ,
        'Population(million)': [23.59, 1404, 51.47, 126.8] }

In [33]:
pop = pd.DataFrame(data)
print(pop)

  Country  Population(million)
0  Taiwan                23.59
1   China              1404.00
2   Korea                51.47
3   Japan               126.80

In [34]:
pop_max = pop['Population(million)'].idxmax()
pop.iloc[[pop_max],[0]]

  Country
1   China